* {
  margin: 0;
}

body {
  background-color: whitesmoke;
}

.all {
  font-family: "Poppins", sans-serif;
  line-height: 49px;
  width: 400px;
  height: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  font-style: normal;
  text-align: center;
}

.all-itens {
  position: relative;
  justify-content: center;
  width: 100%;
  position: relative;
}

.my-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid black;
}

.acc-instagram {
  text-decoration: none;
}

.account-instagram {
  position: relative;
  bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #5dc2e3;
}

.social-networks {
  display: grid;
}

.link-one {
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #6441a5;
}

.link-two {
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #fb3958;
}

.link-tree {
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #171515;
}

.link-four {
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 68px;
  text-decoration: none;
  color: #0072b1;
}

.icons {
  color: black;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 30px;
}

.icon-linkedin {
  color: black;
}

.icon-size {
  width: 25px;
  height: 25px;
}
