* {
  margin: 0;
}

body {
  background: #faf7fd;
}

.all {
  font-style: normal;
  text-align: center;
  line-height: 49px;
  width: 400px;
  height: 800px;
  margin: 0 auto;
  margin-top: 25px;
  margin-top: 50px;
}

.all-itens {
  position: relative;
  justify-content: center;
  width: 100%;
  position: relative;
}

.my-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid #6a0cc7;
}

.social-networks {
  display: grid;
}

.link-one {
  border: 2px solid #bb99dd;
  border-radius: 4px;
  margin-bottom: 16px;
  text-decoration: none;
}

.link-two {
  border: 2px solid #bb99dd;
  border-radius: 4px;
  margin-bottom: 16px;
  text-decoration: none;
}

.link-tree {
  border: 2px solid #bb99dd;
  border-radius: 4px;
  margin-bottom: 16px;
  text-decoration: none;
}

.link-four {
  border: 2px solid #bb99dd;
  border-radius: 4px;
  margin-bottom: 68px;
  text-decoration: none;
}

.icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 30px;
}
